<h4>Customer Validation</h4>

<app-validate-user></app-validate-user>

<app-customer-card></app-customer-card>
<app-customer-card></app-customer-card>

<!-- <div class="customer_section">
  <mat-card class="customer_section_card">
    <div class="summary_title">
      BR.Net
    </div>
    <div class="vertical_devider"></div>
    <div class="card_section_container">
      <div class="card_section_title">Customer Details</div>
      <div>Mani Kumar K V</div>
      <div><a href="tel:9000123456">9000123456</a></div>
      <div><a href="mailto: manikumarkv@gmail.com">manikumarkv@gmail.com</a></div>
    </div>
    <div class="vertical_devider"></div>
    <div class="card_section_container">
      <div class="card_section_title">Status</div>
      <div>
        <mat-chip-list>
          <mat-chip color="primary" selected>Completed</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="vertical_devider"></div>
    <div class="card_section_container">
      <div class="card_section_title">Created On</div>
      <div>Dec 21st 2018</div>
    </div>
    <div class="vertical_devider"></div>
    <div class="card_section_container">
      <div class="card_section_title">Is Active</div>
      <div>Yes</div>
    </div>
  </mat-card>
</div> -->