<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="example-app-name">{{ title.getTitle() }}</h1>
    <span class="example-spacer"></span>
    <h1>Fullerton India</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode='side' opened class="example-sidenav">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink=".">Dashboard</a>
          <a mat-list-item routerLink=".">Customers</a> -->
        <a class="nav-item" *ngFor="let navItem of navItems" mat-list-item routerLinkActive="active-link"
          [routerLink]="[navItem.route]">
          <mat-icon>{{ navItem.icon }}</mat-icon><span class="nav-text">{{ navItem.name }}</span> 
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="sidebar_content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>