<div class="details-table mat-elevation-z8">
  <div style="display: flex">
    <form style="display: flex" class="example-form1">
      <div style="width: 50%; margin: 0 5px">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>DOB</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="DOB">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>PAN</mat-label>
          <input matInput placeholder="PAN" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Customer ID</mat-label>
          <input matInput placeholder="Customer ID" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>LAN</mat-label>
          <input matInput placeholder="LAN" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email </mat-label>
          <input matInput placeholder="Email" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Mobile </mat-label>
          <input matInput placeholder="Mobile" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Nominee </mat-label>
          <input matInput placeholder="Nominee" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>PRINCIPAL AMT. </mat-label>
          <input matInput placeholder="PRINCIPAL AMT." value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Loan Amount </mat-label>
          <input matInput placeholder="Loan Amount " value="">
        </mat-form-field>
      </div>
      <div style="width: 50%; margin: 0 5px">
          <div>
              <h2>Last Transactions</h2>
            </div>
            <table style="margin-bottom: 10px" class="details-table" mat-table [dataSource]="transactions">
          
          
              <!-- srNo Column -->
              <ng-container matColumnDef="srNo">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.srNo}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="transactionDate">
                <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
                <td mat-cell *matCellDef="let element"> {{element.transactionDate}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="emiDueDate">
                <th mat-header-cell *matHeaderCellDef> EMI Due Date </th>
                <td mat-cell *matCellDef="let element"> {{element.emiDueDate}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="trasactionsColums; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: trasactionsColums;"></tr>
            </table>


        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Type of ROI</mat-label>
          <input matInput placeholder="Type of ROI" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>EMI date</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="EMI date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Instalments paid</mat-label>
          <input matInput placeholder="Instalments paid" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Insurance -Policy</mat-label>
          <input matInput placeholder="Insurance -Policy" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Waiver</mat-label>
          <input matInput placeholder="Waiver" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>SOA</mat-label>
          <input matInput placeholder="SOA" value="">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>NDL </mat-label>
          <input matInput placeholder="NDL" value="">
        </mat-form-field>
      </div>

    </form>


  </div>



  <div>
    <h2>Loan Details</h2>
  </div>
  <table class="details-table" mat-table [dataSource]="loanDetails">


    <!-- Position Column -->
    <ng-container matColumnDef="srNo">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.srNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lan">
      <th mat-header-cell *matHeaderCellDef> lan </th>
      <td mat-cell *matCellDef="let element"> {{element.lan}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> customerName </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
    <ng-container matColumnDef="loanTenure">
      <th mat-header-cell *matHeaderCellDef> loanTenure </th>
      <td mat-cell *matCellDef="let element"> {{element.loanTenure}} </td>
    </ng-container>

    <ng-container matColumnDef="roi">
      <th mat-header-cell *matHeaderCellDef> roi </th>
      <td mat-cell *matCellDef="let element"> {{element.roi}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="loanDetailsColums; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: loanDetailsColums;"></tr>
  </table>
  <div>
    <h2>Service Requests</h2>
  </div>
  <table class="details-table" mat-table [dataSource]="serviceRequests">


    <!-- Position Column -->
    <ng-container matColumnDef="srNo">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.srNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="srId">
      <th mat-header-cell *matHeaderCellDef> srId </th>
      <td mat-cell *matCellDef="let element"> {{element.srId}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="callType">
      <th mat-header-cell *matHeaderCellDef> callType </th>
      <td mat-cell *matCellDef="let element"> {{element.callType}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="subyType">
      <th mat-header-cell *matHeaderCellDef> subyType </th>
      <td mat-cell *matCellDef="let element"> {{element.subyType}} </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef> comments </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="serviceRequestsColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: serviceRequestsColumns;"></tr>
  </table>
</div>